<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fitness">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Fitness">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SitUpBench" android:label="SIT UP BENCH" />
        <activity android:name=".AbWheel" android:label="AB WHEEL" />
        <activity android:name=".PullUpBar" android:label="PULL UP BAR"/>
        <activity android:name=".StabilityBall" android:label="STABILITY BALL" />
        <activity android:name=".RomanChair" android:label="ROMAN CHAIR"></activity>
    </application>

</manifest>
